#logo {
    background-color: #c9d0d6;
    height: var(--logo-height);
    width: max-content;
    padding: 10px;
    border: solid #9fa5aa 12px;

    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;

    margin: auto;
    margin-top: 20px;
}

:root {
    --logo-font-size: 60px;
    --logo-height: 120px;
}

#logo > img {
    float: left;
    height: var(--logo-height);
    margin-right: 30px;
}
#logo > div {
    height: var(--logo-height);
    float: left;
    font: bold var(--logo-font-size) 'Verdana';
    line-height: var(--logo-height);
    color: #363636;
}

#logo > div > span {
    outline: solid #8c959d 4px;
    padding: 10px;
    background-color: #c3cbd1;
}

#login-label {
    text-align: center;
    width: max-content;
    margin: auto;

    font: bold 40px 'Verdana';
    border: solid #b3bec9 7px;
    color: #5b5b5b;
    padding: 2px;

    padding-left: 60px;
    padding-right: 60px;
    background-color: #e3ebf2;
    border-radius: 10px;
    margin-top: 10px;
}